body {
    background-image: conic-gradient(from 55deg,  #99a4fe, #b3bcfe);
    background-attachment: fixed;
    font-family: "Noto Sans Grantha", sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}


.slice {
  display: flex; 
  width: 100%; 
  gap: 10px; 
  padding: 50px;
}

/* Form Container */
form {
    background-color: #22223b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form Labels */
form label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f2e9e4;
}

/* Form Inputs and Select Boxes */
form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #9a8c98;
    border-radius: 8px;
    background-color: #4a4e69;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}



/* Form Toggle Buttons */
.form-button {
    background-color: #4a4e69;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-button:hover {
    background-color: #9a8c98;
    transform: scale(1.05);
}

/* Help Pages Formatting */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
 }
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
.highlight-column {
    background-color: lightblue;
}
.highlight-cell {
    background-color: darkblue;
    color: white;
}

code {
    background-color: #eaeaea;
    padding: 2px 4px;
    border-radius: 4px;
}
pre {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
}